@{
    ViewBag.Title = "Home Page";
}

<style>
    .background-image {
        background:url("../Content/backgroundImages/indexbackground_flip.jpg");
        background-size:cover;
    }
       body {
            background-image: none !important;
        }
</style>

<div class="jumbotron" style="margin-bottom:0px;background-color:dimgray;height:100%">
    <h1 style="color:white">Medical Scheduler</h1>
    <p class="lead" style="color:white">Manage your appoinments</p>
</div>
<img src="~/Content/backgroundImages/indexbackground.jpg" />