@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-bottom:0px;background-color:grey">
    <h1 style="color:white">Medical Scheduler</h1>
    <p class="lead" style="color:white">Manage your appoinments</p>
</div>
<img src="~/Content/backgroundImages/indexbackground.jpg" />