@model IEnumerable<MedicalAppointmentScheduler.Core.Data.UserDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <input class="btn btn-lg searc" type="button" value="Search for Patient" onclick="location.href='@Url.Action("Search", "Receptionist")'" />
</div>
<div class="jumbotron">
    <input class="btn btn-lg searc" type="button" value="Delete Appointment" onclick="location.href='@Url.Action("EditAppointment", "Receptionist")'" />
</div>