@model IEnumerable<MedicalAppointmentScheduler.Core.Data.Appointment>
@{
    ViewBag.Title = "Your Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Medical Scheduler</h1>
    <p class="lead">Manage appoinments</p>
</div>

<div id="results" style="margin-top:50px;">
    <table style="float: left;" rules="rows" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>
                Start Time
            </th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5" style="text-align:center;">
                    No matching records found
                </td>
            </tr>
        }
        
        @foreach (var item in Model)
        {
            Console.WriteLine(item.ID);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>
                    @ViewBag.slots[item.ID][0].StartTime
                </td>
            </tr>
        }
    </table>
    <table style="float: right;" rules="rows" border="1">
        <tr>
            <th>
                Date
            </th>
        </tr>
        <tr>
            <th>
                No unavailable dates
            </th>
        </tr>
    </table>
</div>

