@model IEnumerable<MedicalAppointmentScheduler.Core.Data.UserDetails>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <p>
        @Html.ActionLink("Search for Patient", "Search")
    </p>
</div>